html {
	height: 100vh;
}

.container {
	margin-top: 125px;
	min-height: 70vh;
	overflow-y: auto;
}

.main {
	margin: 20px;
	outline: 2px solid black;
	padding: 10px;
}

.center {
	width: 80%;
	margin: 0 auto;
	
}

.center-child {
	text-align: center;
	
}

.side-by-side {
	float: left;
}

table {
	border: 1px solid;
}

td {
	margin: 2px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid;
} 

.calendar-date-disabled {
	color: rgba(0, 0, 0, 0.5);
}

.td-invisable {
	border: 1px solid white;
}

.enabled {
	background-color: #CC373380;
}

.between-enabled {
	background-color: #33C8CC80;
}

.basic-button {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 5px;
}

.basic-button {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 5px;
}

.basic-button:hover {
	background-color: #CC373380;
}

/*.calendar {
	width: 500px;
	height: 500px;
}

.calendar .dates {
	width: auto;
	height: auto;
}*/