html {
	height: 100vh;
}

.container {
	margin-top: 125px;
	min-height: 70vh;
	overflow-y: auto;
}

.main {
	margin: 20px;
	outline: 2px solid black;
	padding: 10px;
}

.center {
	width: 80%;
	margin: 0 auto;
	
}

.center-child {
	text-align: center;
	
}

.side-by-side {
	float: left;
}

table {
	border: 1px solid;
}

td {
	margin: 2px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid;
}

.td-invisable {
	border: 1px solid white;
}

#submit {
	background: white;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px 15px;
	color: black;
	cursor: pointer;
}

#submit:hover {
	background: #6c0001;
	color: white;
}