@charset "UTF-8";

@font-face {
    font-family: Glacial;
    src: url(font/glacial-indifference.regular.otf);
}

@font-face {
    font-family: GlacialBold;
    src: url(font/glacial-indifference.bold.otf);
}

html {
	width: 100vw;
}

body {
	margin: 0;
	background-color: #fbfbfb;
}

.container {
    width:100%;
    min-width:500px;
    box-sizing:border-box;
}

h1 {
	margin: 0;
	font-size: 40px;
}

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ first section (top) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.top {
    width:100vw;
    height: 87vh; 
    background-image: url('${pageContext.request.contextPath}/img/main.jpeg');
    background-size: 100% 100%;
    margin-top: 125px;
 }

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
}

#title {
	padding-top: 125px;
	padding-bottom: 150px;
	color: white;
	font-size: 100px;
}

.book-now #book-now-button {
  padding-top: 125px;
  background: rgba(0,0,0,0.5);
  border: 2px solid #0000;
  border-radius: 12px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.book-now #book-now-button:hover {
	background: #252525;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ first section (top) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ second section (description) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.container {
	background-color: #33C8CC;
}

.description {
    background-size: cover;
    margin-top: 55px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
}

.description p{
	padding-bottom: 30px;
}

.description h2{
	font-size: 20px;
	padding-bottom: 20px;
}

.description #see-locations-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  color: white;
  background-color: #CC3733;
}

.description #see-locations-button:hover {
  background: #f6f6f6;
  color: black;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ second section (description) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ third section (photos) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.photos {
	width:100vw;
    height: 70vh; 
    background-image: url('${pageContext.request.contextPath}/img/a.jpeg');
    background-size: 100% 100%;
    text-align: center;
}

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ photo box ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.photos_box {
	width:30vw;
	height: 30vh; 
	margin-left: 60%;
	background-color: #CC3733;
	color: white;
	display: flex;
    align-items: center; 
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: center;
}

.photos-box-top {
	display: flex;
	height: 25%;
	align-items: center;
}

.photos-box-bottom {
	overflow-y: auto;
}

.photo-nav {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
  overflow-y: auto;
  width: 100%;
}

.photo_left {
	width: 5vw;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo_middle {
	width: 20vw;
	margin-top: 15px;
}
.photo_middle p{
	margin: 0;
}

.photo_right {
	margin-right: 10px;
	width: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 9px;
  background-color: #CC3733;
}

.arrow:hover {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  background-color: #CC3733;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ photo box ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/
/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ third section (photos) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/


/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ fourth section (events) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events { 
    background-size: cover;
    display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
 	flex-wrap: nowrap;              /* default value; can be omitted */
  	justify-content: space-between;
  	margin-left: 5%;
  	margin-right: 5%;
  	padding-top: 3%;
  	padding-bottom: 3%;
}

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events left flexbox ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-left {
	width: 85vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	
}



.events h1{
	padding-left: 30px;
}

.events-top {
	height: 12vh;
	padding-left: 12%;
	padding-top: 10vh;
	display: flex;
	align-items: center;
}

.events-middle {
	height: 30vh;
	padding-left: 12%;
	display: flex;
	align-items: center;
}

.events-bottom {
	height: 60vh;
	padding-left: 12%;
	padding-right: 12%;
	display: flex;
	margin-top: 3%;
}


/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events navbar ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-nav {
	margin-left: 5%;
	padding-top: 20px;
  	display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
 	flex-wrap: nowrap;              /* default value; can be omitted */
  	justify-content: space-between;
  	margin-right: 5%;
}

.events ul {
  list-style-type: none;

  overflow: hidden;
  padding: 0;
}

.events li {
  float: left;
}

.events li #weddingbtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
  display: block;
  background-color: #CC3733;
  color: #fbfbfb;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.events li #confbtn {
  display: block;
  background-color: #CC3733;
  color: #fbfbfb;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.events li #gatheringsbtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: none;
  display: block;
  background-color: #CC3733;
  color: #fbfbfb;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.events li #weddingbtn:hover {
  background-color: #fbfbfb;
  color: black;
}
.events li #confbtn:hover {
  background-color: #fbfbfb;
  color: black;
}
.events li #gatheringsbtn:hover {
  background-color: #fbfbfb;
  color: black;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events navbar ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

.events p{
	padding-left: 5%;
	padding-right: 10%;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events left flexbox ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events right flexbox ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-right {
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
.event-picture{
	width:100%;
	height: auto;
	
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events right flexbox ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/
/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ fourth section (events) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

