@charset "UTF-8";
/* Style all input fields */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: auto;
    margin-top: 125px;
   
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}

h1 {
	font-size: 40px;
}