@charset "UTF-8";
/* Style all input fields */

html, body {
    height: 100%;

    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: auto;
    margin-top: 125px;
   
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	height: 100%;
	justify-content: center;
}


form { 
margin-top:150px;
padding-right:10px;
box-sizing: border-box;  
  height: 60%;
  padding: 30px;
  border-color:grey;
  border:solid;
  margin:auto;
}

input[type=text], input[type=password] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:grey;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}


.button{
	width:25;
}

span.psw {
  
  margin-bottom:30px;
 
}

h1{
	text-align:center;
}

.acct,.register {
	text-align:center;
}

.register {
	padding-bottom: 2%;
}

 .show{
 display: inline-block;
 }
 
#show{
	float:right;
}

#sub{
	right:10px;
}