.main-top {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-bottom {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-bottom {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: center;
	padding-top: 7vh;
}

button {
	margin-bottom: 25vh;
  	background: rgba(0,0,0,0.5);
  	border: 2px solid #0000;
  	border-radius: 12px;
  	border-color: white;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	cursor: pointer;
}

button:hover {
	background: #252525;
}

.form {
	width: 25%;
	display: flex;
	flex-direction: column;
	height: 80%;
}

label {
	padding-bottom: 15px;
	font-size: 22px;
}

input {
	padding: 7px;
}
