:root {
	--button-color: #33C8CC;
	--button-color-hover: #51B0B3;
	--button-text-color: black;
	--button-text-color-hover: black;
}

.main-top {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-bottom {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-bottom {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: center;
	padding-top: 7vh;
}

button {
	margin-bottom: 25vh;
  	border: 1px solid black;
  	background-color: var(--button-color);
	color: var(--button-text-color);
  	border-radius: 12px;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	cursor: pointer;
}

button:hover {
	background-color: var(--button-color-hover);
	color: var(--button-text-color-hover);
}

.form {
	width: 25%;
	display: flex;
	flex-direction: column;
	height: 80%;
}

label {
	padding-bottom: 15px;
	font-size: 22px;
}

input {
	padding: 7px;
}

#invalid {
	color: red;
	text-align: center;
}
