html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: auto;
    margin-top: 125px;
   
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
	height: 100%;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
}

.boxes {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
}

.Double{
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.Queen{
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.Double-Queen {
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.King{
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.left {
	width: 21vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	justify-content: center;
}

.middle {
	width: 50vw;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.right {
	width: 15vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100%
}

.top-left {
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.top-left h1 {
	border: 1px solid;
	border-radius: 20px;
	margin-left: 9%;
	margin-right: 9%;
	padding: 5px 30px 5px 30px;
}

.bottom-left {
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.bottom-left p{
	border: 1px solid;
	border-radius: 20px;
	padding: 15px;
	margin-left:-1%;
	margin-right:-1%;
}

.top-right {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-right p{
	border: 1px solid;
	border-radius: 20px;
	margin-left: 30%;
	margin-right: 30%;
	padding: 5px 30px 5px 30px
}

.bottom-right {
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 15%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.bottom-right a{
	text-decoration: none;
	color: black;
	border: 1px solid;
	border-radius: 5px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px 15px;
	cursor: pointer;
}

.bottom-right a:hover{
	background: #6c0001;
	color: white
}

.room-picture {
	padding-top: 15px;
	padding-bottom: 15px
}

img {
	width: 70%;
	height: auto;
	border-radius: 10%;
}

.Locations {
	
}

.Guests {
	padding-bottom: 5%;
}

select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid black;
        padding-right: 45px;
        text-align: center;
    }
     
    .select {
        position: relative;
        display: block;
        width: 20em;
        height: 3em;
        line-height: 3;
        overflow: hidden;
    }
     
    select {
        width: 100%;
        height: 100%;
        margin: 0;
        color: black;
        cursor: pointer;
    }
     
    select::-ms-expand {
        display: none;
    }
     
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 1em;
        background: #33C8CC;
        pointer-events: none;
    }
     
    .select:hover::after {
        color: #CC3733;
        
    }
     
    .select::after {
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
