html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: auto;
    margin-top: 125px;
   
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
	height: 100%;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
}

.boxes {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
}

.Standard-King{
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.Standard-Double-Queen {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 12px;
	margin-bottom: 20px;
}

.Superior-King {
	display: flex;
	align-items: center;
	border: 1px solid;
	border-radius: 12px;
}

.left {
	width: 40vw;
	display: flex;
	justify-content: center;
}

.middle {
	width: 50vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.right {
	width: 15vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.top-middle {
	margin-bottom: -4%;
}

.top-middle h1 {
	border: 1px solid;
	border-radius: 20px;
	margin-left: 9%;
	margin-right: 9%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bottom-middle p{
	border: 1px solid;
	border-radius: 20px;
	padding: 15px;
	margin-left:-1%;
	margin-right:-1%;
}

.top-right p{
	border: 1px solid;
	border-radius: 20px;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 7px;
	padding-bottom: 7px;
}

.bottom-right a{
	text-decoration: none;
	color: black;
	border: 1px solid;
	border-radius: 5px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 7px;
}

.bottom-right a:hover{
	background: #6c0001;
	color: white
}

.bottom-right {
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 15%;
}


.event-picture {
	padding-top: 15px;
	padding-bottom: 15px
}

img {
	width: 84%;
	height: auto;
	border-radius: 20%;
}
